#atas{
	height: 100px;
	
	border-bottom: solid 1px green;
}
body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#nav-akun{
	float:right;
	margin: 25px 200px 0 0 ;
}
#nav-kiri{
	float: left;
	margin: 20px 0 0 100px;
	font-size: 18px;
	font-weight: bold;
	color: #264d00;
}
#navkanan button{
	width: 120px;
	height: 40px;
	background-color: #264d00;
	border:solid 1px #264d00;
	border-radius: 5px;
	color: white;
}
#navkanan button:hover{
	background-color: white;
	color: black;
}
#navkiri button{
	width: 120px;
	height: 40px;
	border: solid 1px #264d00;
	background-color: white;
	border-radius: 5px;
}
#navkiri button:hover{
	background-color: #264d00;
	color: white;
}